.elementor-20 .elementor-element.elementor-element-a6fbfc8:not(.elementor-motion-effects-element-type-background), .elementor-20 .elementor-element.elementor-element-a6fbfc8 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#DD0707;}.elementor-20 .elementor-element.elementor-element-a6fbfc8{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:05px 0px 5px 0px;}.elementor-20 .elementor-element.elementor-element-a6fbfc8 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-20 .elementor-element.elementor-element-64f5ef5{text-align:center;}.elementor-20 .elementor-element.elementor-element-64f5ef5 .elementor-heading-title{color:#FFFFFF;font-family:"Sora", Sans-serif;font-size:20px;font-weight:400;}.elementor-20 .elementor-element.elementor-element-975c4dc:not(.elementor-motion-effects-element-type-background), .elementor-20 .elementor-element.elementor-element-975c4dc > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2023/10/DESKTOP01.jpg");background-position:top center;}.elementor-20 .elementor-element.elementor-element-975c4dc{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:80px 0px 100px 0px;}.elementor-20 .elementor-element.elementor-element-975c4dc > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-20 .elementor-element.elementor-element-bb25be0 > .elementor-element-populated{margin:10px 0px -2px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-20 .elementor-element.elementor-element-5363df8 .elementor-heading-title{color:var( --e-global-color-7b0b068 );font-family:"Sora", Sans-serif;font-size:60px;font-weight:700;line-height:66px;}.elementor-20 .elementor-element.elementor-element-5363df8 > .elementor-widget-container{margin:0px 84px 0px 0px;}.elementor-20 .elementor-element.elementor-element-5da62ab{color:#FFFFFF;font-family:"Sora", Sans-serif;font-size:23px;font-weight:400;}.elementor-20 .elementor-element.elementor-element-5da62ab > .elementor-widget-container{margin:-23px 80px 0px 0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-8cc4389 .elementor-button{font-family:"Sora", Sans-serif;font-size:23px;font-weight:700;fill:#050505;color:#050505;background-color:#61CE7000;border-radius:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-8cc4389 > .elementor-widget-container{margin:-8px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-d41f661{text-align:left;}.elementor-20 .elementor-element.elementor-element-d41f661 img{width:69%;}.elementor-20 .elementor-element.elementor-element-d41f661 > .elementor-widget-container{margin:-11px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-b60ecab > .elementor-widget-container{margin:0px 0px -18px 0px;padding:-73px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-5d643e3:not(.elementor-motion-effects-element-type-background), .elementor-20 .elementor-element.elementor-element-5d643e3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2023/10/DESKTOP02.jpg");background-position:top center;}.elementor-20 .elementor-element.elementor-element-5d643e3{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:15px 0px 77px 0px;}.elementor-20 .elementor-element.elementor-element-5d643e3 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-20 .elementor-element.elementor-element-128ba8c > .elementor-element-populated{padding:43px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-f8507a0{color:#FFFFFF;font-family:"Sora", Sans-serif;font-size:24px;font-weight:400;line-height:29px;}.elementor-20 .elementor-element.elementor-element-f8507a0 > .elementor-widget-container{margin:-23px 89px 0px 0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-88dadba{color:#FFFFFF;font-family:"Sora", Sans-serif;font-size:16px;font-weight:400;line-height:23px;}.elementor-20 .elementor-element.elementor-element-88dadba > .elementor-widget-container{margin:-50px 70px 0px 0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-f46c687{color:#FFFFFF;font-family:"Sora", Sans-serif;font-size:20px;font-weight:400;line-height:29px;}.elementor-20 .elementor-element.elementor-element-f46c687 > .elementor-widget-container{margin:-47px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-f92ad43 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(4px/2);}.elementor-20 .elementor-element.elementor-element-f92ad43 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(4px/2);}.elementor-20 .elementor-element.elementor-element-f92ad43 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(4px/2);margin-left:calc(4px/2);}.elementor-20 .elementor-element.elementor-element-f92ad43 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-4px/2);margin-left:calc(-4px/2);}body.rtl .elementor-20 .elementor-element.elementor-element-f92ad43 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-4px/2);}body:not(.rtl) .elementor-20 .elementor-element.elementor-element-f92ad43 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-4px/2);}.elementor-20 .elementor-element.elementor-element-f92ad43 .elementor-icon-list-icon i{color:#01F96F;}.elementor-20 .elementor-element.elementor-element-f92ad43 .elementor-icon-list-icon svg{fill:#01F96F;}.elementor-20 .elementor-element.elementor-element-f92ad43{--e-icon-list-icon-size:14px;}.elementor-20 .elementor-element.elementor-element-f92ad43 .elementor-icon-list-text{color:#FFFFFF;}.elementor-20 .elementor-element.elementor-element-f92ad43 > .elementor-widget-container{margin:-31px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-f209d28 .elementor-button{font-family:"Sora", Sans-serif;font-size:23px;font-weight:700;fill:#050505;color:#050505;background-color:#08D9B100;}.elementor-20 .elementor-element.elementor-element-f209d28 > .elementor-widget-container{margin:-8px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-f40df0c:not(.elementor-motion-effects-element-type-background), .elementor-20 .elementor-element.elementor-element-f40df0c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2023/10/DESKTOP03.jpg");background-position:top center;}.elementor-20 .elementor-element.elementor-element-f40df0c{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 50px 0px;}.elementor-20 .elementor-element.elementor-element-f40df0c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-20 .elementor-element.elementor-element-bd8d91b{text-align:center;}.elementor-20 .elementor-element.elementor-element-bd8d91b .elementor-heading-title{color:var( --e-global-color-7b0b068 );font-family:"Sora", Sans-serif;font-size:45px;font-weight:700;line-height:66px;}.elementor-20 .elementor-element.elementor-element-bd8d91b > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-0411200{text-align:center;color:#FFFFFF;font-family:"Sora", Sans-serif;font-size:16px;font-weight:400;line-height:23px;}.elementor-20 .elementor-element.elementor-element-0411200 > .elementor-widget-container{margin:-40px 70px 0px 0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-504360f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-5168207:not(.elementor-motion-effects-element-type-background), .elementor-20 .elementor-element.elementor-element-5168207 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2023/10/DESKTOP04.jpg");background-position:top center;}.elementor-20 .elementor-element.elementor-element-5168207{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 19px 0px;}.elementor-20 .elementor-element.elementor-element-5168207 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-20 .elementor-element.elementor-element-0ed8305 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-153775e{text-align:center;color:#FFFFFF;font-family:"Sora", Sans-serif;font-size:37px;font-weight:700;line-height:55px;}.elementor-20 .elementor-element.elementor-element-153775e > .elementor-widget-container{margin:-40px 0px -25px 0px;padding:0px 150px 0px 150px;}.elementor-20 .elementor-element.elementor-element-7d889db{--e-image-carousel-slides-to-show:5;}.elementor-20 .elementor-element.elementor-element-7d889db .elementor-swiper-button.elementor-swiper-button-prev, .elementor-20 .elementor-element.elementor-element-7d889db .elementor-swiper-button.elementor-swiper-button-next{font-size:25px;color:var( --e-global-color-7b0b068 );}.elementor-20 .elementor-element.elementor-element-7d889db .elementor-swiper-button.elementor-swiper-button-prev svg, .elementor-20 .elementor-element.elementor-element-7d889db .elementor-swiper-button.elementor-swiper-button-next svg{fill:var( --e-global-color-7b0b068 );}.elementor-20 .elementor-element.elementor-element-05bb682 .elementor-button{font-family:"Sora", Sans-serif;font-size:23px;font-weight:700;fill:#050505;color:#050505;background-color:#61CE7000;border-radius:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-05bb682 > .elementor-widget-container{margin:10px 00px 10px 0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-c5d467d{padding:15px 0px 15px 0px;}.elementor-20 .elementor-element.elementor-element-e91d5bd{text-align:center;color:#FFFFFF;font-family:"Sora", Sans-serif;font-size:14px;font-weight:400;line-height:23px;}.elementor-20 .elementor-element.elementor-element-e91d5bd > .elementor-widget-container{margin:-15px 0px -17px 0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-6a010ba{text-align:center;color:#FFFFFF;font-family:"Sora", Sans-serif;font-size:11px;font-weight:400;line-height:23px;}.elementor-20 .elementor-element.elementor-element-6a010ba > .elementor-widget-container{margin:-28px 0px -11px 0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-6de01f9{text-align:center;color:#5E5E5E;font-family:"Sora", Sans-serif;font-size:13px;font-weight:400;line-height:21px;}.elementor-20 .elementor-element.elementor-element-6de01f9 > .elementor-widget-container{margin:-15px 0px -17px 0px;padding:0px 100px 0px 100px;}@media(min-width:768px){.elementor-20 .elementor-element.elementor-element-831c9c3{width:54.474%;}.elementor-20 .elementor-element.elementor-element-128ba8c{width:45.482%;}}@media(max-width:767px){.elementor-20 .elementor-element.elementor-element-a6fbfc8{padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-64f5ef5 .elementor-heading-title{font-size:13px;line-height:1.3em;}.elementor-20 .elementor-element.elementor-element-64f5ef5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-975c4dc:not(.elementor-motion-effects-element-type-background), .elementor-20 .elementor-element.elementor-element-975c4dc > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2023/10/MOBILE01.jpg");background-size:cover;}.elementor-20 .elementor-element.elementor-element-975c4dc{padding:205px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-5363df8{text-align:center;}.elementor-20 .elementor-element.elementor-element-5363df8 .elementor-heading-title{font-size:45px;line-height:1.1em;}.elementor-20 .elementor-element.elementor-element-5363df8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-5da62ab{text-align:center;font-size:16px;}.elementor-20 .elementor-element.elementor-element-5da62ab > .elementor-widget-container{margin:-24px 0px 0px 0px;padding:0px 15px 0px 15px;}.elementor-20 .elementor-element.elementor-element-8cc4389 .elementor-button{font-size:18px;}.elementor-20 .elementor-element.elementor-element-8cc4389 > .elementor-widget-container{margin:-17px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-d41f661{text-align:center;}.elementor-20 .elementor-element.elementor-element-d41f661 img{width:88%;}.elementor-20 .elementor-element.elementor-element-5d643e3:not(.elementor-motion-effects-element-type-background), .elementor-20 .elementor-element.elementor-element-5d643e3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2023/10/MOBILE02.2-scaled.jpg");background-size:cover;}.elementor-20 .elementor-element.elementor-element-5d643e3{margin-top:0px;margin-bottom:0px;padding:286px 0px 22px 0px;}.elementor-20 .elementor-element.elementor-element-831c9c3 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-f8507a0{text-align:center;font-size:22px;}.elementor-20 .elementor-element.elementor-element-f8507a0 > .elementor-widget-container{margin:76px 0px 0px 0px;padding:0px 5px 0px 5px;}.elementor-20 .elementor-element.elementor-element-88dadba{text-align:center;font-size:14px;}.elementor-20 .elementor-element.elementor-element-88dadba > .elementor-widget-container{margin:-37px 0px 0px 0px;padding:0px 15px 0px 15px;}.elementor-20 .elementor-element.elementor-element-f46c687{text-align:center;font-size:18px;}.elementor-20 .elementor-element.elementor-element-f46c687 > .elementor-widget-container{margin:-17px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-f92ad43 > .elementor-widget-container{padding:0px 15px 0px 15px;}.elementor-20 .elementor-element.elementor-element-f209d28 .elementor-button{font-size:18px;}.elementor-20 .elementor-element.elementor-element-f209d28 > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-f40df0c{padding:30px 0px 10px 0px;}.elementor-20 .elementor-element.elementor-element-bd8d91b .elementor-heading-title{line-height:1.1em;}.elementor-20 .elementor-element.elementor-element-0411200 > .elementor-widget-container{margin:-34px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-153775e{font-size:23px;line-height:1.4em;}.elementor-20 .elementor-element.elementor-element-153775e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 15px 0px 15px;}.elementor-20 .elementor-element.elementor-element-7d889db > .elementor-widget-container{margin:-17px 0px 0px 0px;padding:10px 0px 14px 0px;}.elementor-20 .elementor-element.elementor-element-05bb682 .elementor-button{font-size:18px;}.elementor-20 .elementor-element.elementor-element-e91d5bd{font-size:12px;}.elementor-20 .elementor-element.elementor-element-6a010ba > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-20 .elementor-element.elementor-element-6de01f9{font-size:12px;}.elementor-20 .elementor-element.elementor-element-6de01f9 > .elementor-widget-container{margin:-13px 0px 0px 0px;padding:0px 15px 0px 5px;}}/* Start custom CSS for heading, class: .elementor-element-5363df8 */.elementor-20 .elementor-element.elementor-element-5363df8 .elementor-heading-title{
background: linear-gradient(98.05deg, #08D9B1 -38.29%, #01F96F 141.71%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-8cc4389 */.elementor-20 .elementor-element.elementor-element-8cc4389 .elementor-button {
clip-path: polygon(0 0,calc(100% - 15px) 0,100% 15px,100% 100%,0 100%);
background: linear-gradient(to left, #07d8b1 50%, #01fa6f 50%) right;
background-size: 200%;
transition: .5s ease-out;
}

.elementor-20 .elementor-element.elementor-element-8cc4389 .elementor-button:hover {
background-position: left bottom;
}

.elementor-20 .elementor-element.elementor-element-8cc4389 .elementor-button{
clip-path: polygon(0 0, 95% 0, 100% 25%, 100% 100%, 5% 100%, 0 75%);
overflow: hidden;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
}

.elementor-20 .elementor-element.elementor-element-8cc4389 .elementor-button:hover {
background-color: #3d8011 !important;
border: none;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
transition: all 0.3s ease-out;
transform: scale(1.01);
}

.elementor-20 .elementor-element.elementor-element-8cc4389 .elementor-button:hover::before {
-webkit-animation: sh02 0.5s 0s linear;
-moz-animation: sh02 0.5s 0s linear;
animation: sh02 0.7s 0s linear;
}

.elementor-20 .elementor-element.elementor-element-8cc4389 .elementor-button::before {
content: '';
display: block;
width: 0px;
height: 86%;
position: absolute;
top: 7%;
left: 0%;
opacity: 0;
background: #3d8011;
box-shadow: 0 0 50px 30px #fff;
-webkit-transform: skewX(-20deg);
-moz-transform: skewX(-20deg);
-ms-transform: skewX(-20deg);
-o-transform: skewX(-20deg);
transform: skewX(-20deg);
}

@‌keyframes sh02 {
from {
opacity: 0;
left: 0%;
}

50% {
opacity: 1;
}

to {
opacity: 0;
left: 100%;
}
}

.elementor-20 .elementor-element.elementor-element-8cc4389 .elementor-button:active {
box-shadow: inset 0px 0px 5px 5px #ffffff25, 0px 5px 0px 0px #2B55A1, 0px 10px 5px 0px #00000085 !important;
-webkit-transition: box-shadow 0.2s ease-in;
-moz-transition: box-shadow 0.2s ease-in;
transition: all 0.1s ease-in;
transform: scale(1);
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-f209d28 */.elementor-20 .elementor-element.elementor-element-f209d28 .elementor-button {
clip-path: polygon(0 0,calc(100% - 15px) 0,100% 15px,100% 100%,0 100%);
background: linear-gradient(to left, #07d8b1 50%, #01fa6f 50%) right;
background-size: 200%;
transition: .5s ease-out;
}

.elementor-20 .elementor-element.elementor-element-f209d28 .elementor-button:hover {
background-position: left bottom;
}

.elementor-20 .elementor-element.elementor-element-f209d28 .elementor-button{
clip-path: polygon(0 0, 95% 0, 100% 25%, 100% 100%, 5% 100%, 0 75%);
overflow: hidden;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
}

.elementor-20 .elementor-element.elementor-element-f209d28 .elementor-button:hover {
background-color: #3d8011 !important;
border: none;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
transition: all 0.3s ease-out;
transform: scale(1.01);
}

.elementor-20 .elementor-element.elementor-element-f209d28 .elementor-button:hover::before {
-webkit-animation: sh02 0.5s 0s linear;
-moz-animation: sh02 0.5s 0s linear;
animation: sh02 0.7s 0s linear;
}

.elementor-20 .elementor-element.elementor-element-f209d28 .elementor-button::before {
content: '';
display: block;
width: 0px;
height: 86%;
position: absolute;
top: 7%;
left: 0%;
opacity: 0;
background: #3d8011;
box-shadow: 0 0 50px 30px #fff;
-webkit-transform: skewX(-20deg);
-moz-transform: skewX(-20deg);
-ms-transform: skewX(-20deg);
-o-transform: skewX(-20deg);
transform: skewX(-20deg);
}

@‌keyframes sh02 {
from {
opacity: 0;
left: 0%;
}

50% {
opacity: 1;
}

to {
opacity: 0;
left: 100%;
}
}

.elementor-20 .elementor-element.elementor-element-f209d28 .elementor-button:active {
box-shadow: inset 0px 0px 5px 5px #ffffff25, 0px 5px 0px 0px #2B55A1, 0px 10px 5px 0px #00000085 !important;
-webkit-transition: box-shadow 0.2s ease-in;
-moz-transition: box-shadow 0.2s ease-in;
transition: all 0.1s ease-in;
transform: scale(1);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-bd8d91b */.elementor-20 .elementor-element.elementor-element-bd8d91b .elementor-heading-title{
background: linear-gradient(98.05deg, #08D9B1 -38.29%, #01F96F 141.71%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-05bb682 */.elementor-20 .elementor-element.elementor-element-05bb682 .elementor-button {
clip-path: polygon(0 0,calc(100% - 15px) 0,100% 15px,100% 100%,0 100%);
background: linear-gradient(to left, #07d8b1 50%, #01fa6f 50%) right;
background-size: 200%;
transition: .5s ease-out;
}

.elementor-20 .elementor-element.elementor-element-05bb682 .elementor-button:hover {
background-position: left bottom;
}

.elementor-20 .elementor-element.elementor-element-05bb682 .elementor-button{
clip-path: polygon(0 0, 95% 0, 100% 25%, 100% 100%, 5% 100%, 0 75%);
overflow: hidden;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
}

.elementor-20 .elementor-element.elementor-element-05bb682 .elementor-button:hover {
background-color: #3d8011 !important;
border: none;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
transition: all 0.3s ease-out;
transform: scale(1.01);
}

.elementor-20 .elementor-element.elementor-element-05bb682 .elementor-button:hover::before {
-webkit-animation: sh02 0.5s 0s linear;
-moz-animation: sh02 0.5s 0s linear;
animation: sh02 0.7s 0s linear;
}

.elementor-20 .elementor-element.elementor-element-05bb682 .elementor-button::before {
content: '';
display: block;
width: 0px;
height: 86%;
position: absolute;
top: 7%;
left: 0%;
opacity: 0;
background: #3d8011;
box-shadow: 0 0 50px 30px #fff;
-webkit-transform: skewX(-20deg);
-moz-transform: skewX(-20deg);
-ms-transform: skewX(-20deg);
-o-transform: skewX(-20deg);
transform: skewX(-20deg);
}

@‌keyframes sh02 {
from {
opacity: 0;
left: 0%;
}

50% {
opacity: 1;
}

to {
opacity: 0;
left: 100%;
}
}

.elementor-20 .elementor-element.elementor-element-05bb682 .elementor-button:active {
box-shadow: inset 0px 0px 5px 5px #ffffff25, 0px 5px 0px 0px #2B55A1, 0px 10px 5px 0px #00000085 !important;
-webkit-transition: box-shadow 0.2s ease-in;
-moz-transition: box-shadow 0.2s ease-in;
transition: all 0.1s ease-in;
transform: scale(1);
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../../2023/10/Sora-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('../../2023/10/Sora-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2023/10/Sora-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2023/10/Sora-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2023/10/Sora-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2023/10/Sora-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2023/10/Sora-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../../2023/10/Sora-ExtraBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */